<head>
    <link href="https://gmpg.org/xfn/11" rel="profile">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">

    <meta content="General Physics, PHY 127 and PHY 128" name="description">
    <meta content="Physics, College, Mechanics" name="keywords">
    <meta content="Martin Veillette" name="author">

    <!-- Enable responsiveness on mobile devices-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=6" name="viewport">

    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot;  {{ site.tagline }}
        {% else %}
        {{ page.title }} {{ site.tagline }}
        {% endif %}
    </title>

    <!-- CSS -->
    <link href="{{'/assets/css/gitbook.css'| relative_url }}" rel="stylesheet">

    <link href="{{'/assets/manifest/manifest.json'| relative_url }}" rel="manifest"/>

    <!-- For styles with static names... -->
    <link href="{{'/assets/css/styles.css'| relative_url }}" rel="stylesheet">


    <script src="{{'/assets/js/math-config.js'| relative_url }}"
            type="text/javascript"></script>
    <script defer src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script async defer id="MathJax-script"
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>

    <script type="text/javascript">
        window.Book = {
            'url': '{{ site.github.repository_url }}',
            'rootUrl': '{{ site.github.url }}',
            'issuesUrl': '{{ site.github.repository_url }}/issues',
            'contributeUrl': '{{ site.github.repository_url }}/tree/gh-pages',
            'toc': {'url': '{{ site.github.url }}/SUMMARY.html'},
            'searchIndex': '{{ site.github.url }}/search-index.json'
        };
    </script>

    <script src="{{'/assets/js/book-viewer.js'| relative_url }}"
            type="text/javascript"></script>
</head>
